@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}

body {
  font-family: Inter, sans-serif;
  background-color: #FEAFC3;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: Inter, sans-serif;
}

h1, .h1 {
  font-size: 36px;
  line-height: 1.5;
}

h2, .h2 {
  font-size: 24px;
  line-height: 1.2;
}

h3, .h3 {
  font-size: 16px;
  line-height: 1.35;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.container {
  max-width: 1190px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: center;
  padding-block: 24px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation-menu {
  display: flex;
  align-items: center;
}
.navigation-menu__list {
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .navigation-menu__list {
    column-gap: 25px;
  }
}
@media (max-width: 640px) {
  .navigation-menu__list {
    column-gap: 0;
  }
}
.navigation-menu__logo {
  margin-right: 16px;
}
@media (max-width: 1280px) {
  .navigation-menu__logo {
    max-width: 120px;
    height: 50px;
  }
}
@media (max-width: 640px) {
  .navigation-menu__logo {
    max-width: 80px;
    height: 50px;
  }
}
.navigation-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding-inline: 16px;
}
@media (max-width: 640px) {
  .navigation-menu__item {
    padding-inline: 10px;
  }
}
.navigation-menu__text {
  color: #2D3440;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1280px) {
  .navigation-menu__text {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 640px) {
  .navigation-menu__text {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.navigation-menu__catalog {
  display: flex;
  align-items: center;
  border: 0;
  background-color: #FEAFC3;
  gap: 6px;
}

.navigation-burger-menu {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
@media (max-width: 1024px) {
  .navigation-burger-menu {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 1;
    visibility: hidden;
    transition: transform 0.5s, visibility 0.5s;
    will-change: transform;
    row-gap: 30px;
    width: 300px;
    height: 350px;
    background-color: #f5f5dc;
  }
  .navigation-burger-menu.overlay {
    visibility: visible;
    transform: translateX(-100%);
    opacity: 1;
  }
}
.navigation-burger-menu__phone {
  color: #2D3440;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1280px) {
  .navigation-burger-menu__phone {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media (max-width: 640px) {
  .navigation-burger-menu__phone {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.navigation-burger-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  background-color: rgba(252, 252, 252, 0.3);
  padding-inline: 16px;
  border: 0;
  border-radius: 30px;
  height: 32px;
}
@media (max-width: 1024px) {
  .navigation-burger-menu__item {
    background-color: bisque;
  }
}
.navigation-burger-menu__search {
  padding-inline: 8px;
  border-radius: 27px;
}
.navigation-burger-menu__text {
  color: #2D3440;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1280px) {
  .navigation-burger-menu__text {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 640px) {
  .navigation-burger-menu__text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (max-width: 1024px) {
  .burger-btn {
    position: relative;
    cursor: pointer;
    overflow: visible;
    top: 10px;
    right: 15px;
    z-index: 5;
    width: 30px;
    height: 18px;
  }
  .burger-btn span,
  .burger-btn span:before,
  .burger-btn span:after {
    display: block;
    position: absolute;
    transition: 0.3s ease-in-out;
    height: 4px;
    opacity: 0.9;
    background: #2D3440;
  }
  .burger-btn span:before,
  .burger-btn span:after {
    content: "";
  }
  .burger-btn span {
    right: 0;
    top: 13px;
    width: 27px;
  }
  .burger-btn span:before {
    left: 0;
    top: -10px;
    width: 27px;
  }
  .burger-btn span:after {
    left: 0;
    top: 10px;
    width: 27px;
  }
  .burger-btn.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  .burger-btn.close span:before {
    top: 0;
    transform: rotate(90deg);
    width: 27px;
  }
  .burger-btn.close span:after {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
}
@media (max-width: 640px) {
  .burger-btn {
    right: 10px;
  }
  .burger-btn span,
  .burger-btn span:before,
  .burger-btn span:after {
    display: block;
    position: absolute;
    transition: 0.3s ease-in-out;
    height: 3px;
    opacity: 0.9;
    background: #2D3440;
  }
  .burger-btn span:before,
  .burger-btn span:after {
    content: "";
  }
  .burger-btn span {
    right: 0;
    top: 15px;
    width: 20px;
  }
  .burger-btn span:before {
    left: 0;
    top: -7px;
    width: 20px;
  }
  .burger-btn span:after {
    left: 0;
    top: 7px;
    width: 20px;
  }
  .burger-btn.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 20px;
  }
  .burger-btn.close span:before {
    top: 0;
    transform: rotate(90deg);
    width: 20px;
  }
  .burger-btn.close span:after {
    top: 0;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
}

/*# sourceMappingURL=style.css.map */
