@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("/src/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
}

body {
  font-family: Inter, sans-serif;
  background-color: #FEAFC3;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: Inter, sans-serif;
}

h1, .h1 {
  font-size: 36px;
  line-height: 1.5;
}

h2, .h2 {
  font-size: 24px;
  line-height: 1.2;
}

h3, .h3 {
  font-size: 16px;
  line-height: 1.35;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1190px;
  width: 100%;
  padding-inline: 15px;
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: center;
  padding-block: 24px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation-menu {
  display: flex;
  align-items: center;
}
.navigation-menu__list {
  display: flex;
  align-items: center;
}
@media (max-width: 1280px) {
  .navigation-menu__list {
    column-gap: 25px;
  }
}
.navigation-menu__logo {
  margin-right: 16px;
}
@media (max-width: 1280px) {
  .navigation-menu__logo {
    max-width: 120px;
    height: 50px;
  }
}
.navigation-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding-inline: 16px;
}
.navigation-menu__text {
  color: #2D3440;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1280px) {
  .navigation-menu__text {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.navigation-menu__catalog {
  display: flex;
  align-items: center;
  border: 0;
  background-color: #FEAFC3;
  gap: 6px;
}

.navigation-button {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
@media (max-width: 1024px) {
  .navigation-button {
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    width: 300px;
    height: 350px;
    background-color: #f5f5dc;
  }
}
.navigation-button__phone {
  color: #2D3440;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1280px) {
  .navigation-button__phone {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.navigation-button__item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  background-color: rgba(252, 252, 252, 0.3);
  padding-inline: 16px;
  border: 0;
  border-radius: 30px;
  height: 32px;
}
@media (max-width: 1024px) {
  .navigation-button__item {
    background-color: bisque;
  }
}
.navigation-button__search {
  padding-inline: 8px;
  border-radius: 27px;
}
.navigation-button__text {
  color: #2D3440;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1280px) {
  .navigation-button__text {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media (max-width: 1024px) {
  .burger-menu {
    display: block;
    position: relative;
    cursor: pointer;
    top: 16px;
    z-index: 5;
    width: 30px;
    height: 18px;
  }
  .burger-menu span,
  .burger-menu::before,
  .burger-menu::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: #2D3440;
  }
  .burger-menu::before,
  .burger-menu::after {
    content: "";
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu::after {
    bottom: 0;
  }
  .burger-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
}

/*# sourceMappingURL=style.css.map */
