$background-body: #FEAFC3;
$color-header-text: #2D3440;
$color-extra-light-icon: rgba(252, 252, 252, 0.30);
$color-mobile-menu: #f5f5dc;
$color-form: #FCFCFC;
$color-border-form: #B9B9B9;
$color-search: #FF4A78;








$tablet: 1280px;
$tablet-s: 1024px;
$tablet-xs: 920px;
$tablet-xxs: 768px;
$mobile-s: 640px;
$mobile-xs: 480px;
$mobile-xxs: 375px