.authorization {
  position: absolute;
  visibility: hidden;
  top: 50px;
  right: 170px;
  z-index: 10;
  padding: 48px;
  max-width: 420px;
  height: 350px;
  width: 100%;
  border-radius: 4px;
  background-color: $basic-extra-light;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);

  @include media-tablet-s {
    top: 200px;
    right: 210px;
    padding: 20px;
  }

  @include media-mobile-s {
    top: 220px;
    right: 130px;
  }

  @include media-mobile-xs {
    right: 25px;
  }



  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-bottom: 32px;

  }

  &__title {
    padding-bottom: 32px;
    color: $basic-extra-dark;

    @include font($size: 2.4rem, $height: normal, $weight: 700);


  }

  &__input {
    outline: none;
    padding-inline: 15px;
    height: 48px;
    max-width: 324px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $basic-neutral;
    color: $basic-extra-dark;

    @include font($size: 1.6rem, $height: normal, $weight: 400);


  }

  &__button {
    display: flex;
    column-gap: 23px;
  }

  &__button-link {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__link {
    border-bottom: 1px solid $basic-extra-dark;
    padding-bottom: 1px;
    color: $basic-extra-dark;

    @include font($size: 1.4rem, $height: normal, $weight: 400);
  }

  &__link:last-child {
    max-width: 89px;
    width: 100%;
  }

}