.basket {
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  position: absolute;
  top: 55px;
  right: 12px;
  z-index: 10;
  padding-inline: 15px;
  border-radius: 4px;
  height: 156px;
  background-color: $basic-extra-light;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);

  &__title {
    color: $basic-extra-dark;

    @include font($size: 2.4rem, $height: normal, $weight: 700);
  }
}