.catalog__title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 107px;
  color: $basic-extra-dark;

  @include font($size: 3.2rem, $height: normal, $weight: 900);

  @include media-tablet-s {

    @include font($size: 2.4rem, $height: normal, $weight: 900);
  }

  @include media-tablet-xxs {

    @include font($size: 2rem, $height: normal, $weight: 900);
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 80px 30px;

}

.list-card {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  position: relative;
  height: 281px;
  border-radius: 8px;
  background-color: $basic-extra-light;

  &__image {
    position: absolute;
    top: -51px;
  }

  &__description {
    text-align: center;
    padding-bottom: 20px;
  }

  &__title {
    padding-bottom: 8px;
    color: $basic-extra-dark;

    @include font($size: 2rem, $height: normal, $weight: 700);

    @include media-tablet-xxs {

      @include font($size: 1.8rem, $height: normal, $weight: 700);
    }
  }

  &__text {
    text-align: center;
    padding-bottom: 16px;
    color: $basic-dark;

    @include font($size: 1.6rem, $height: normal, $weight: 400);

    @include media-tablet-xxs {

      @include font($size: 1.4rem, $height: normal, $weight: 400);
    }
  }

}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    text-align: center;
    border: none;
    border-radius: 26px;
    padding: 8px 11px;
    color: $basic-extra-light;
    background-color: $special-extra-bright;
  }

  &__text {
    @include font($size: 2rem, $height: normal, $weight: 700);

    @include media-tablet-xxs {

      @include font($size: 1.8rem, $height: normal, $weight: 700);
    }
  }
}