.contacts {
  display: flex;
  justify-content: flex-start;
  background-image: url("/src/img/contacts/Обратная_связь.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;

  @include media-mobile-s {
    padding: 30px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 24px;
    padding: 40px;
    border-radius: 8px;
    background-color: $basic-extra-light;
    box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);

    @include media-mobile-xs {
      padding: 20px;
    }
  }

  &-form__address {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    &-title {
      color: $basic-dark;

      @include font($size: 1.6rem, $height: normal, $weight: 400);

      @include media-mobile-xs {

        @include font($size: 1.4rem, $height: normal, $weight: 400);
      }
    }

    &-text {
      color: $basic-extra-dark;

      @include font($size: 2rem, $height: normal, $weight: 700);

      @include media-mobile-xs {

        @include font($size: 1.8rem, $height: normal, $weight: 700);
      }
    }
  }

  &-form__phone {


    &-title {
      padding-bottom: 12px;
      color: $basic-dark;

      @include font($size: 1.6rem, $height: normal, $weight: 400);

      @include media-mobile-xs {

        @include font($size: 1.4rem, $height: normal, $weight: 400);
      }
    }

    &-text {
      color: $basic-extra-dark;

      @include font($size: 2rem, $height: normal, $weight: 700);

      @include media-mobile-xs {

        @include font($size: 1.8rem, $height: normal, $weight: 700);
      }
    }

    &-sub-title {
      color: $basic-dark;

      @include font($size: 1.4rem, $height: normal, $weight: 400);
    }
  }

}


.form {
  display: none;
  visibility: hidden;
  position: absolute;
  top: -455px;
  left: 220px;
  z-index: 10;

  @include media-tablet-xxs {
    left: 105px;
  }

  @include media-mobile-s {
    top: -355px;
  }

  @include media-mobile-xs {
    top: -370px;
    left: 20px;
  }


  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    position: relative;
    border-radius: 8px;
    padding: 64px;
    background-color: $basic-extra-light;
    box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);

    @include media-tablet-s {
      padding: 40px;
    }

    @include media-mobile-s {
      row-gap: 15px;
      padding: 15px;
    }
  }

  &__icon {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 10;

    @include media-mobile-s {
      top: 15px;
      right: 15px;
    }
  }

  &__title {
    color: $basic-extra-dark;

    @include font($size: 2.4rem, $height: normal, $weight: 700);

    @include media-tablet-xs {

      @include font($size: 2rem, $height: normal, $weight: 700);
    }

    @include media-mobile-s {

      @include font($size: 1.4rem, $height: normal, $weight: 700);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__input {
    height: 48px;
    padding-right: 210px;
    border-radius: 4px;
    color: $basic-neutral;
    border: 1px solid $basic-neutral;
    background-color: $basic-white;
    padding-left: 16px;

    @include font($size: 1.6rem, $height: normal, $weight: 400);

    @include media-tablet-xs {

      @include font($size: 1.4rem, $height: normal, $weight: 400);
    }

    @include media-tablet-xs {
      padding-right: 120px;

    }

    @include media-mobile-s {
      padding-right: 55px;
    }

    @include media-mobile-xs {
      padding-right: 25px;
    }

  }

  &__input:last-child {
    padding-block: 20px 115px;

  }

  &__button {
    display: flex;
    justify-content: end;

    @include media-tablet-xs {

      @include font($size: 1.4rem, $height: normal, $weight: 400);
    }
  }
}