.navigation {
  display: flex;
  justify-content: space-between;
  position: relative;


  &-menu {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      align-items: center;

      @include media-tablet {
        column-gap: 25px;
      }

      @include media-mobile-s {
        column-gap: 0;
      }
    }

    &__logo {
      margin-right: 16px;

      @include media-tablet {
        max-width: 120px;
        height: 50px;
      }

      @include media-mobile-s {
        max-width: 80px;
        height: 50px;
      }
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      padding-inline: 16px;

      @include media-mobile-s {
        padding-inline: 5px;
      }
    }

    &__text {
      color:$basic-extra-dark;

      @include font($size: 1.6rem, $height: normal, $weight: 400);

      @include media-tablet {
        @include font($size: 1.4rem, $height: normal, $weight: 400);
      }

      @include media-mobile-s {
        @include font($size: 1.2rem, $height: normal, $weight: 400);
      }
    }

    &__catalog {
      display: flex;
      align-items: center;
      border: 0;
      background-color: $special-light;
      gap: 6px;
    }
  }

}




.navigation-burger-menu {
  display: flex;
  align-items: center;
  column-gap: 16px;
  color: $basic-extra-dark;

  @include font($size: 1.4rem, $height: normal, $weight: 400);

  @include media-tablet {

    @include font($size: 1.2rem, $height: normal, $weight: 400);
  }

  @include media-mobile-s {
    @include font($size: 1rem, $height: normal, $weight: 400);
  }


  @include media-tablet-s {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 2;
    visibility: hidden;
    transition: transform .5s, visibility .5s;
    will-change: transform;
    row-gap: 30px;
    width: 300px;
    height: 350px;
    background-color: $color-mobile-menu;
    box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);

    &.overlay {
      visibility: visible;
      transform: translateX(-100%);
      opacity: 1;
    }
  }


  &__phone {
    color: $basic-extra-dark;

    @include font($size: 1.6rem, $height: normal, $weight: 700);

    @include media-tablet {
      @include font($size: 1.4rem, $height: normal, $weight: 700);
    }

    @include media-mobile-s {
      @include font($size: 1.2rem, $height: normal, $weight: 700);
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    background-color: $basic-extra-light-icon;
    padding-inline: 16px;
    border: 0;
    border-radius: 30px;
    height: 32px;

    @include media-tablet-s {
      background-color: bisque;
    }
  }

  &__search {
    padding-inline: 8px;
    border-radius: 27px;
  }

}
