.search {
  position: absolute;
  visibility: hidden;
  top: 50px;
  right: 245px;
  z-index: 10;
  padding: 24px 16px;
  border-radius: 4px;
  max-width: 356px;
  width: 100%;
  background-color: $basic-extra-light;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);

  @include media-tablet {
    right: 235px;
    padding: 12px 12px;
    max-width: 300px;
  }

  @include media-tablet-s {
    top: 150px;
    right: 165px;
  }

  @include media-mobile-xs {
    top: 160px;
    right: 45px;
  }


  &__form {
    &_input {
      outline: none;
      padding-inline: 15px;
      height: 48px;
      max-width: 324px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid $basic-neutral;
      color: $basic-extra-dark;

      @include font($size: 1.6rem, $height: normal, $weight: 400);

      @include media-tablet-xxs {

        @include font($size: 1.4rem, $height: normal, $weight: 400);
      }

      @include media-tablet {
        height: 40px;
      }
    }
  }
}

.overlay-form {
  visibility: visible;
}

.overlay-red {
  background-color: $special-bright;
}

.overlay-white-icon {
  filter: brightness(0) invert(1);
}

.overlay-white-text {
  color: $basic-extra-light;
}


