.catalog {

  &__filter {
    margin-bottom: 70px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding: 41px 98px;

    button {
      color: $basic-extra-dark;
      background-color: $basic-extra-light;

      @include font($size: 1.6rem, $height: normal, $weight: 700)
    }
  }
}

.none {
  visibility: hidden;
}

.activeBtn {
  background-color: #00e484;
}


